# The user to read and write data to the database.
LAPPDOG_DB_USER=lduser01

# The password for the user.
#   You can keep the value as is if you are running locally.
LAPPDOG_DB_PASSWORD=the-database-user-password
