# This causes MySQL to generate a random password for the database root user.
#   If you prefer to set a specific password, use the MYSQL_ROOT_PASSWORD environment variable instead.
MYSQL_RANDOM_ROOT_PASSWORD=yes
# MYSQL_ROOT_PASSWORD=my-own-password
