# This causes MySQL to generate a random password for the database root user.
#   If you prefer to set a specific password, use the MYSQL_ROOT_PASSWORD environment variable instead.
MYSQL_RANDOM_ROOT_PASSWORD=yes
# MYSQL_ROOT_PASSWORD=my-own-password

# The user the Datadog Agent uses to connect to the database.
DD_DB_USER=datadog

# The password for the Datadog Agent user.
#   You can keep the value as is if you are running locally.
DD_DB_PASSWORD=the-datadog-database-user-password
